<div id="content">
    <div id="ContentHeaderLeft"><h5><?php echo SYSNAME; ?></h5></div>
    <div id="ContentHeaderCenter"></div>
    <div id="ContentHeaderRight"><h5>Exemple</h5></div>
    <div class="clear"></div>
    <div id="exemple">
        <div id="info"><p>Page d'exemple...</p></div>
    <p>Coming soon ...</p>
    </div>
</div>
