/* Mega Menu Styles */
ul{list-style:none;}
.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

#mega-menu-1 {
font: normal 13px Arial, sans-serif; 
list-style: none; 
position: relative; 
padding: 0px; 
margin: 0px;
}
#mega-menu-1 .sub ul {
display: block;
}
#mega-menu-1 {
background: #f1f1f1;
width: 100%;
height: 60px;
position: relative;
}
#mega-menu-1 li {
float: left; 
margin: 0; 
padding: 0; 
font-weight: bold;
margin-left:10px;
margin: 10px;
}
#mega-menu-1 li a {
float: left; 
display: block; 
color: #111111;
padding: 12px 25px;
background: #ffffff; 
text-decoration: none;
}
#mega-menu-1 li.mega-hover a, #mega-menu-1 li a:hover {
background: #ffa500; 
color: #111111;
}
#mega-menu-1 li .sub-container {
position: absolute;
}
#mega-menu-1 li .sub {
background: #eeeeee; 
padding: 15px; 
border: 1px solid #dddddd;
margin-left:10px;
margin-top: 15px;
}
#mega-menu-1 li .sub .row {
width: 100%; 
overflow: hidden;
clear: both;
}
#mega-menu-1 li .sub li {
list-style: none; 
float: none; 
width: 170px; 
font-size: 1em; 
font-weight: normal;
}
#mega-menu-1 li .sub li.mega-hdr {
margin: 0 10px 10px 0; 
float: left;
}
#mega-menu-1 li .sub li.mega-hdr.last {
margin-right: 0;
}
#mega-menu-1 li .sub a {
background: none; 
color: #111111; 
padding: 7px 10px; 
display: block; 
float: none; 
font-size: 0.9em;
margin-bottom:10px;
}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a {
padding: 5px 15px; 
margin-bottom: 5px; 
background: #ffffff; 
text-transform: uppercase; 
font-weight: bold; 
color: #111111;
}
#mega-menu-1 li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #111111;
}
#mega-menu-1 .sub li.mega-hdr li a {
padding: 4px 5px; 
font-weight: normal;
}
#mega-menu-1 .sub li.mega-hdr li a:hover {
color: #a32403; 
background: #ffffff;
}
#mega-menu-1 .sub ul li {
padding-right: 0;
}
#mega-menu-1 li .sub-container.non-mega .sub {
padding: 10px;
}
#mega-menu-1 li .sub-container.non-mega li {
padding: 0; 
width: 190px; 
margin: 0;
}
#mega-menu-1 li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px;
font-weight: bold;
background: #ffffff;
}
#mega-menu-1 li .sub-container.non-mega li a:hover {
color: #111111; 
background: #ffa500;
}
