/* Auto Installer */
body {
  background-color: #fff;
  font-family: Verdana, Lucida Grande, Sans-serif;

}

/* Translator_Module */
.webui #translator {
  position: relative;
  float:right;
  margin: 0px;
  margin-top: -30px;
  margin-right: 0px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-image: url("background_06.png");
  background-color: transparent;
  background-repeat: repeat;
	height: 15px;
}

input {
  color: #000;
  font-weight: normal;
  background-color: #fff;
  width:350px;
  font-size: 14px;
  outline:none:
  border:1px solid #ddd;
}

input#submit {
  color: #222;
  font-weight: normal;
  background-color: #fff;
  width:150px;
  font-size: 14px;
  border:1px solid #ddd;
  margin:10px;
}

#input:hover {
  color: #222;
  font-weight: normal;
  background-color: #fff;
  width:150px;
  font-size: 14px;
  border:1px solid #00ff00;
  margin:10px;
}

.red {color: #ff0000;text-align: left;}
.green {color: #005500;text-align: left;}
.left_exemple {color: #222;text-align: left;font-size: 10px;}
img {border:0px;}
h1.title {font-size: 24px;  color: #222;}
td.copyright {font-size: 10px; text-align: center;}
a {font-size: 12px; text-align: right;color:#0000ff;text-decoration:none;}
a:hover {font-size: 12px; text-align: right;color:#0000ff;text-decoration:underline;}
a.copyright {font-size: 10px; text-align: center;color:#111;text-decoration:none;}
a.copyright:hover {font-size: 10px; text-align: center;color:#111;text-decoration:underline;}


div#content {
  position:relative;
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

table.installer {
  width: 750px;
  background-color: #f1f1f1;
  border: 1px solid #c1c1c1;
  color: #000;
  border-collapse:collapse;
  font-size: 12px;

}

td.right {
  width: 375px;
  height: 21px;
  text-align: right;
  border-width: 0px;
  padding: 2px !important;
}

td.left {
   width: 375px;
   height: 21px;
   text-align: left;
   border-width: 0px;
   padding: 2px !important;
}

td.center {
   height: 21px;
   text-align: center;
   border-width: 0px;
   padding: 2px !important;

}

td.infos {
  color: #0000ff;
  height: 21px;
  text-align: center;
  border-width: 0px;
  padding: 2px !important;
  font-size: 14px;
  padding:10px;
}
