*.db
*.url
*.properties
*.dll
*.csproj
*.conv
*.CSM
*.CSV
*.conf
*.cache
*.0*
*.exe
*.frm
*.index
*.ini
*.lang
*.lib
*.log
*.mdb
*.MYD
*.MYI
*.phar
*.so
*.sys
*.tpl
*.types
*.var
*.vender
*.z
*.zip
*.rar
*.tar.gz
*.user
*.pdb
*.bat
*.dat
*.pid
*.pl
*.user