/* WebUI Css Level 2.1 v0.4 (21/02/2011) */

html {width: 100%; height: 100%;}

body.webui {
  margin: 10px;
  margin-top: 30px;
  padding: 0px;
  font-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  color:#ffffff;
  background: #000000 url('background_01.jpg') 50% 0% no-repeat;
}

.webui #container {
	width: 900px;
  background-color: transparent;
  background-image: url("background_03.png");
	margin: 0 auto;
	border: 0px solid #000000;
	text-align: left;
}

.webui #container2 {
	width: 850px;
  background-color: transparent;
  background-image: url("background_03.png");
	margin: 0 auto;
	border: 0px solid #000000;
	text-align: left;
}

.webui #adminnote {
	width: 900px;
  background-color: transparent;
	margin: 0 auto;
  text-align: center;
	border: 0px solid #000000;
	text-align: left;
}

.webui #header {
  background-image: url("header.png");
  background-repeat: repeat-x;
	background-color: transparent;
}

.webui #headerimages {
  background-image: url("header.png");
  /*background-repeat: repeat-x;*/
	background-color: transparent;
}

/* Logo */
.webui #headerimages h1 {
	margin: 0px;
	height:139px;
  background-image: url("aurora-webui-logo.png");
  background-repeat: no-repeat;
	background-color: transparent;
}

/* MenuBar Horizontal */
.webui #menubar {
  background-color: transparent;
  background-image: url("background_03.png");
}

/* Pretty Menu */
#menu {
	z-index:100;
  width:100%;
  height:60px;
  background-image: url("header.png");
  background-repeat: repeat-x;
	background-color: transparent;
}

.menu
{	
  position:relative; 
  margin: auto;
  padding-top:10px;
}

#menu ul.menu  {
  list-style-type:none;
}

#menu li {
  position: relative;
	display: block;
  
  float:left; /*pour IE*/
	list-style: none;
	text-align: center;
}

#menu li a {  
  margin-left:10px;
  width:100px;
  height: 30px;
  display: block;
  text-decoration:none;
  text-align: center;
  line-height: 30px;

  padding:5px;
	color: #ffffff;
  background-color:#4477ae;
  background-image: url("background_02.png");
  color: #ffffff;
border-bottom: 1px solid #111111;
}


#menu li a:hover {
  background-color:#4477ae;
  background-image: none;
}

#menu li a:active {
  background-color:#ff0000;
  background-image: none;
}

#menu ul ul {
  position: absolute;
  top: 41px;
  visibility: hidden;
  
}
  
#menu ul li:hover ul  {
  visibility:visible;
}

/* MainContainer */
.webui #MainContainer {
	padding: 0px;
	background-color: transparent;
}

/* content*/
.webui #content {
  font-size: 12px;
  padding: 10px;
  border:1px solid #222222;
  background-color: #4477ae;
  background-image: url("background_03.png");
  text-align:left;
  border: 0px solid #fff;
}

/* from sitemodul.php */
#scr {
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow:auto;
}

/* from pwreset.php */
.Stil1 { font-size: 18px;	font-weight: bold;}

/* grid status module */
.textcolorwhite {color: #f1f1f1;}
.translatorcolor {color: #ffffff;}
.textcolorgreen {color:#12d212;}
.textcolorred {color:#ea0202;}

.placeholder{font-size: 3px}
.box {font-size: 12px;height: 20px; width:60px;}
.box1 {font-size: 12px;height: 20px;width: 60px;}
.boxspace {font-size: 1px; color: #ffffff;}
.style1 {color: #fff}
.style2 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; }
.Stil9 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; }


/* add by djphil */
a , ul, ol, li, form {margin: 0px; padding: 0px;}
a {cursor:pointer; font-size: 1em; color:#00ff00; outline: none; text-decoration: underline; }
a:hover {text-decoration: none;}
img {border: 0px;}
table {font-size: 100%; border:0px;}

h1 {padding-left: 20px; font-size: 24px; color:#ffffff;}
h2 {padding-left: 20px; font-size: 18px; color:#ffffff;}
h3 {padding-left: 20px; font-size: 14px; color:#ffffff;}
h4 {padding-left: 20px; font-size: 12px; color:#ffffff;}
h5 {padding-left: 20px; font-size: 10px; color:#ffffff;}

.webui #header h1 span {display:none;}
.webui #header h2 span {display:none;}
.webui #header h3 span {display:none;}
.webui #header h4 span {display:none;}
.webui #header h5 span {display:none;}

.webui #MainContainer h1 span {display:none;}
.webui #MainContainer h2 span {display:none;}
.webui #MainContainer h3 span {display:none;}
.webui #MainContainer h4 span {display:none;}
.webui #MainContainer h5 span {display:none;}

.webui #footer h1 span {display:none;}
.webui #footer h2 span {display:none;}
.webui #footer h3 span {display:none;}
.webui #footer h4 span {display:none;}
.webui #footer h5 span {display:none;}

/* tables setting */
#content table {font-size: 100%;}
#content a {color: #aaaa00; text-decoration: none;}
#content a:visited {text-decoration: none}
#content a:active {text-decoration: none}
#content a:hover {text-decoration: underline;}

#regionlist {width:100%;background-color: transparent;}
#regionlist table {color: #ffffff; width: 100%;}
#regionlist td a {color: #aaaa00; text-decoration: none;}
#regionlist a:visited {text-decoration: none}
#regionlist a:active {text-decoration: none}
#regionlist a:hover {text-decoration: underline;}

#register {width:100%;background-color: transparent;}
#register table {color: #ffffff; width: 100%;}

#register a {color: #aaaa00; text-decoration: none;}
#register a:visited {text-decoration: none}
#register a:active {text-decoration: none}
#register a:hover {text-decoration: underline;}

#login {width:100%;background-color: transparent;}
#login table {color: #ffffff; width: 100%;}
#login td {width: 50%;}
#login a {color: #aaaa00; text-decoration: none;}
#login a:visited {text-decoration: none}
#login a:active {text-decoration: none}
#login a:hover {text-decoration: underline;}

#forget_pass {width:100%;background-color: transparent;}
#forget_pass table {color: #ffffff; width: 100%;}
#forget_pass td {width: 50%;}
#forget_pass a {color: #aaaa00; text-decoration: none;}
#forget_pass a:visited {text-decoration: none}
#forget_pass a:active {text-decoration: none}
#forget_pass a:hover {text-decoration: underline;}

#usersonline {width:100%;background-color: transparent;}
#usersonline table {color: #ffffff; width: 100%;}
#usersonline a {color: #aaaa00; text-decoration: none;}
#usersonline a:visited {text-decoration: none}
#usersonline a:active {text-decoration: none}
#usersonline a:hover {text-decoration: underline;}

#searchpeople {width:100%;background-color: transparent;}
#searchpeople table {color: #ffffff; width: 100%;}
#searchpeople a {color: #aaaa00; text-decoration: none;}
#searchpeople a:visited {text-decoration: none}
#searchpeople a:active {text-decoration: none}
#searchpeople a:hover {text-decoration: underline;}

#changeaccount {width:100%;background-color: transparent;}
#changeaccount table {color: #ffffff; width: 100%;}
#changeaccount a {color: #aaaa00; text-decoration: none;}
#changeaccount a:visited {text-decoration: none}
#changeaccount a:active {text-decoration: none}
#changeaccount a:hover {text-decoration: underline;}

#loginscreen_manager {width:100%;background-color: transparent;}
#loginscreen_manager table {color: #ffffff; width: 100%;}
#loginscreen_manager a {color: #aaaa00; text-decoration: none;}
#loginscreen_manager a:visited {text-decoration: none}
#loginscreen_manager a:active {text-decoration: none}
#loginscreen_manager a:hover {text-decoration: underline;}

#managepanel {width:100%;background-color: transparent;}
#managepanel table {color: #ffffff; width: 100%;}
#managepanel a {color: #aaaa00; text-decoration: none;}
#managepanel a:visited {text-decoration: none}
#managepanel a:active {text-decoration: none}
#managepanel a:hover {text-decoration: underline;}

#news {width:100%;background-color: transparent;}
#news table {color: #ffffff; width: 100%;}
#news td a {color: #aaaa00; text-decoration: none;}
#news a:visited {text-decoration: none}
#news a:active {text-decoration: none}
#news a:hover {text-decoration: underline;}

#newshistory {width:100%;background-color: transparent;}
#newshistory table {color: #ffffff; width: 100%;}
#newshistory a {color: #aaaa00; text-decoration: none;}
#newshistory a:visited {text-decoration: none}
#newshistory a:active {text-decoration: none}
#newshistory a:hover {text-decoration: underline;}

#createnews {width:100%;background-color: transparent;}
#createnews table {color: #ffffff; width: 100%;}
#createnews a {color: #aaaa00; text-decoration: none;}
#createnews a:visited {text-decoration: none}
#createnews a:active {text-decoration: none}
#createnews a:hover {text-decoration: underline;}

#useragentprofil {min-height:160px; width:100%;background-color: transparent;}
#useragentprofil table {color: #ffffff; width: 100%;}
#useragentprofil a {color: #aaaa00; text-decoration: none;}
#useragentprofil a:visited {text-decoration: none}
#useragentprofil a:active {text-decoration: none}
#useragentprofil a:hover {text-decoration: underline;}

#regioninfo {min-height:160px; width:100%;background-color: transparent;}
#regioninfo table {color: #ffffff; width: 100%;}
#regioninfo a {color: #aaaa00; text-decoration: none;}
#regioninfo a:visited {text-decoration: none}
#regioninfo a:active {text-decoration: none}
#regioninfo a:hover {text-decoration: underline;}

#adminsettings {width:100%;background-color: transparent;}
#adminsettings table {color: #ffffff; width: 100%;}
#adminsettings a {color: #aaaa00; text-decoration: none;}
#adminsettings a:visited {text-decoration: none}
#adminsettings a:active {text-decoration: none}
#adminsettings a:hover {text-decoration: underline;}

/* more info profil */
#profil_picture {
  float: right;
  margin-top: -105px;
}

#profil_picture img {
  border: 1px solid #FFFFFF;
  height: 128px;
  width: 128px;
}

/* more info region */
#region_picture {
  float: right;
  margin-top: -80px;
}

#region_picture img {
  border: 1px solid #FFFFFF;
  height: 256px;
  width: 256px;
}

#region_navigation {
  width: 300px;
  float: right;
}

.even {
  background-color: transparent;
  background-image: url("background_03.png");
}

.odd {
  background-color: transparent;
  background-image: url("background_02.png");
}

.error {
  background-color: transparent;
  background-image: url("background_03.png");
  color: #ff0000;
}

/* input & bouton */
#register_input {width: 99%;}
#register_bouton {font-size: 14px; margin-left: auto; margin-right: auto;}

#login_input {width: 99%;}
#login_bouton {font-size: 14px;}

#forgot_pass_input {width: 99%;}
#forgot_pass_bouton {font-size: 14px;}

#search_input {width: 99%; font-size: 14px;}
#search_bouton {font-size: 14px;}


/* region map */
#region_map {
  margin: 0px;
  padding: 0px;
  height: 350px;
  background-color: transparent;
  background-image: url("background_03.png");
  border:none;
}

/* Grid News */
.newslist {
	padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 100%;
  border-top-style: none;
  padding-top: 0px;
  border-right-style: none;
  border-left-style: none;
  border-collapse: collapse;
  height: 77px;
  border-bottom-style: none;
}


/* footer */
.webui #footer {
	padding: 0 10px;
  background-image: url("background_03.png");
  background-color: transparent;
  background-repeat: repeat;
	height:35px;
	margin-top: 10px;
}

.webui #footer p {margin: 0; padding: 10px 0;}


/* Translator_Module */
.webui #translator {
  position: relative;
  float:right;
  margin: 0px;
  margin-top: -224px;
  margin-right: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-image: url("background_03.png");
  background-color: transparent;
  background-repeat: repeat;
	height:15px;
  z-index: 50;
}

/* Date */
.webui #date {
  position: relative;
  float:left;
  margin: 0px;
  margin-top: -224px;
  margin-left: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-image: url("background_03.png");
  background-color: transparent;
  background-repeat: repeat;
	height:15px;
  z-index: 50;
}

/* Validator_Module */
.webui #validator {text-align: center;}

/* gridstatus */
#gridstatus {
  position: relative;
  float:right;
  margin-top: -60px;
  margin-right: 8px;
  border:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:1em;
  z-index: 50;
}

#gridstatus table td {padding:0px;}
#gridstatus table {border-spacing: 0px;border-collapse:collapse;}

.online {font-weight: bold; color: #00ff00; text-align:right;}
.offline {font-weight: bold; color: #ff0000;}
.gridtext {font-size: 80%;padding-right: 3px; padding-left: 3px; padding-bottom: 2px; padding-top: 2px;}
.gridtext a {color: #aaaa00;}

td.gridbox_t {
	background-position: left top;
  background-image: url(../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_r {
	background-position: right top;
  background-image: url(../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_b {
	background-position: left bottom;
  background-image: url(../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_l {
	background-position: left top;
  background-image: url(../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_tl {
	background-position: left top;
  background-image: url(../images/login_screens/icons/gridbox_tl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_tr {
	background-position: right top;
  background-image: url(../images/login_screens/icons/gridbox_tr.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_bl {
	background-position: left bottom;
  background-image: url(../images/login_screens/icons/gridbox_bl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_br {
	background-position: right bottom;
  background-image: url(../images/login_screens/icons/gridbox_br.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

/* Pretty Message */
#message {
  background-color: #CCCC99;
  border-top: 2px solid #CCCC55;
  border-bottom: 2px solid #CCCC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#info {
  background-color: #9999CC;
  border-top: 2px solid #5555CC;
  border-bottom: 2px solid #5555CC;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#alert {
  background-color: #CC9999;
  border-top: 2px solid #CC5555;
  border-bottom: 2px solid #CC5555;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#download {
  background-color: #99CC99;
  border-top: 2px solid #55CC55;
  border-bottom: 2px solid #55CC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.hiddenrow
{
	display:none; 
}
