body {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;}
td {text-align:center;}
#head{height:70px;text-align:center;}
#title{font-size:22px;font-weight:bold;}
td#title{text-align:left;white-space:nowrap;}
#info{font-size:9px;}
#name{font-size:12px;}
#log{text-align:left;}
#img{border:1px solid #000000;width:120px;}
#menu{font-weight:bold;}
#tips{font-weight:normal;}
.cpy {color:#ffffff;}
#cover {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#000000;
	filter:alpha(opacity=80);
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
}
#dialog {
	display:none;
	width:350px;
	height:380px;
	position:absolute;
	z-index:100;
	background:white;
	padding:2px;
	border:1px solid black;
	padding:5px 25px 0 25px;
}
#diattl{font-size:12px;font-weight:bold;}
#diatbl{width:100%;}
#diatbl td{text-align:left;height:25px;}
.diainf{font-size:9px;color:#808080;}
#error{font-size:9px;color:red;}
#xml{width:350px;height:200px;font-size:12px;}
#loader{text-align:center;display:none;margin-top:50px;}