body {
	margin: 0 auto;
	padding: 0;
        /* font-size: 100%; */
        /* font-family: Verdana, Arial, Helvetica, sans-serif; */
	background-color:#fff;
}
a:focus {
	outline: none;
}
#panel {
	background: #111111;
	height: 100px;
	display: none;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 1px #000000;
	background: url(images/btn-slide.gif) no-repeat center top;
}
.btn-slide {
	background: url(images/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}
