/* StyleSwitch */
#switchers {
  position: relative;
  width: 600px;
  margin: 0 auto;
color:#ffffff;
font-size: 0.6em; 
font-family: verdana, helvetica, sans-serif;
text-align: center;
  background-color: #333;
  background-image: url("../images/background_03.png");
}

.template1 {
background-color: #aa0001;
margin:0px;
padding:0px;
height:18px;
width:18px;
border:1px solid #000;
}

.template2 {
background-color: #00aa01;
margin:0px;
padding:0px;
height:18px;
width:18px;
border:1px solid #000;
}

.template3 {
background-color: #0100aa;
margin:0px;
padding:0px;
height:18px;
width:18px;
}

a.link1 {color:#aa0001;}
a.link2 {color:#00aa01;}
a.link3 {color:#0100aa;}

/* Pour l'ensemble de la page */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #aa0001;
  background-image: url("../images/background_03.png");
  color:#fff;
}

div#sizing {border: 1px solid #000000;}

/* Titres */
#content h1, #content h2, #content h3, #content h4, #content h5 {color:#aa0001; padding-top:10px;}
#header h1, #header h2, #header h3, #header h4, #header h5 {color:#aa0001;}

#icone_h1 img {
	display:block;
	float:right;
	margin-top: -40px;
	width: 64px;
	height: 64px;
}

#icone_logo img {
	display:block;
	float:right;
	margin-top: -55px;
	width: 128px;
	height: 128px;
}

/* Style de l'entête */
#header {
  margin: 0px;
  padding: 10px;
  background-color: transparent;
  background-image: url("../images/background_03.png");
  font-family: "Arial Black", Arial, Verdana, serif;
  text-align: center;
  color:#f1f1f1;
}

/* Style du menu */
.menu {
  position:relative;
  margin: 0 auto;
 	padding: 0px;
 	outline: none;
  background-color: transparent;
  background-image: url("../images/background_01.png");
  font-family: "Arial Black", "Times New Roman", Times, serif;
  font-size: 1em;
  z-index:100;
}

.menu li {

	display: block;
	float: left;
	list-style: none;
	text-align: center;
	padding-left: 10px;
}

.menu li a {
	display: block;
	padding: 3px;
	white-space: nowrap;
  background-color: transparent;
  background-image: url("../images/background_04.png");
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
	text-align: center;	
	color: #000;
}

.menu li a:hover {	
	color: #000;
  background-color: transparent;
  background-image: url("../images/background_01.png");
}

.menu li a:active {	
  color: #000;
  background-color: transparent;
  background-image: url("../images/background_04.png");
}

#content {
  padding: 10px;
  background-color: transparent;
  background-image: url("../images/background_03.png");
  text-align :justify;
  font-family: "Arial", Arial, Verdana, serif;
}

#content li {list-style-position:inside;}

/* screenshot */
#screenshot {width: 100%; border: 1px solid #222;}

/* Makes it pretty */
table {
width: 100%;
border: solid 0px #222;
border-collapse: separate;
border-spacing: 3px ;
}

th {
border: solid 0px #000;
background-color: #C8D1D1;
font-weight: bold;
padding: 3px;
text-align: left;

}

td {
  background-color: transparent;
  background-image: url("../images/background_02.png");
  padding: 3px;
  border: 1px solid #000;

}

.trOdd td {
  background-color: transparent;
  background-image: url("../images/background_01.png");
}
.trEven td {
  background-color: transparent;
  background-image: url("../images/background_02.png");
}


/* page aide */
#aide, #aide ul, #aide li {padding: 5px;}

/* Style du pied de page */

#footer {

  background-color: transparent;
  background-image: url("../images/background_03.png");
  font-family: "Arial", Arial, Verdana, serif;
  text-align: center;
  color:#f1f1f1;
  height: 23px;
  width: 100%;
  padding-top: 9px;
}

#validator {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 190px;
  height:40px;
}

#w3c_validator img {float: left;}
#css_validator img {float: right;}


/* pour les messages */
#message {
  color:#111;
  background-color: #CCCC99;
  width: 100%;
  border-top: 2px solid #CCCC55;
  border-bottom: 2px solid #CCCC55;
}

#message p {width: 100%; padding-left: 10px;}

#info {
  color:#111;
  background-color: #9999CC;
  width: 100%;
  border-top: 2px solid #5555CC;
  border-bottom: 2px solid #5555CC;
}

#info p {width: 100%; padding-left: 10px;}

#alert {
  color:#111;
  background-color: #CC9999;
  width: 100%;
  border-top: 2px solid #CC5555;
  border-bottom: 2px solid #CC5555;
}

#alert p {width: 100%;  padding-left: 10px;}

#download {
  color:#111;
  background-color: #99CC99;
  width: 100%;
  border-top: 2px solid #55CC55;
  border-bottom: 2px solid #55CC55;
}

#download p {width: 100%; padding-left: 10px;}

a {outline: none; color: #f1f1f1; text-decoration:underline;}
a:hover {text-decoration:none;}
img {border: 0px;}

/* StyleSwitch */
input {
  background-color: transparent;
  background-image: url("../images/background_04.png");
  border: 1px solid #000;
  padding:1px;
}

button {
  background-color: transparent;
  background-image: url("../images/background_04.png");
  border: 1px solid #000;
}
