/* WebUI Css Level 2.1 v0.5 (01/04/2011) */

html {width: 100%; height: 100%;}

body.webui {
  margin: 0px;
  margin-top: -18px;
  padding: 0px;
  font-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  color:#111;
  background: #ddd url("background_01_off.jpg") 50% 0% repeat-x;
}

.webui #adminnote {
	width: 900px;
  background-color: transparent;
	margin: 0 auto;
  text-align: center;
	border: 0px solid #000000;
	text-align: left;
}

/* Translator and date Container */
.webui #topcontainer {
	width: 925px;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
}

/* Translator_Module */
.webui #translator {
  position: relative;
  float:left;
  margin: 0px;
  margin-top: 0px;
  margin-right: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-image: url("background_06.png");
  background-color: transparent;
  background-repeat: repeat;
	height: 15px;
	
}

/* Date Module*/
.webui #date {
  position: relative;
  float:left;
  margin: 0px;
  margin-top: 0px;
  margin-left: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-image: url("background_06.png");
  background-color: transparent;
  background-repeat: repeat;
	height: 15px;
}

/* Welcome Text Module */
.webui #welcomeText {
  position: relative;
  float:right;
  margin: auto;
  margin-top: 0px;
  padding: 3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:0.8em;
  height: 15px;
  background-image: url("background_06.png");
}

/* Scrolling Text Module */
div.horizontal_scroller, div.vertical_scroller {
  position:relative;
	height: 15.5px;
	width: 90%;
	display:block;
	overflow:hidden;
  float:left;
  margin-top: 0px;		
}

div.scrollingtext{
  position:absolute;
	white-space:nowrap;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  z-index:99;
  color:#111;
  padding: 3px;
  padding-bottom:3px;
}

/* The Container */
.webui #container {
	width: 900px;
  background-color: #aaa;
  background-repeat: repeat;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
	border: 0px solid #000000;
	text-align: left;
	padding: 10px;
}

.webui #header {color:#111;}

.webui #headerimages {;}

/* Logo */
.webui #headerimages h1 {
	margin: 0px;
	height:139px;
  background-image: url("aurora-webui-logo.png");
  background-repeat: no-repeat;
	background-color: transparent;
}

/* MenuBar Horizontal */
.webui #menubar {;}

/* Pretty Menu */
#menu {
	z-index:100;
background-color: #f1f1f1;
height:60px;
width: 100%;
padding-top:30px;
margin-bottom:-10px;

}

.menu {
  background-color: #fff;
  height:50px;
  width:890px;	
  position:relative;
  margin: auto;
  padding-top:10px;
}

#menu ul.menu  {
  list-style-type:none;
}

#menu li {z-index:100;
  position: relative;
	display: block;
  float:left; /*pour IE*/
	list-style: none;
	text-align: center;margin:0 auto;
}

#menu li a {  
  margin-left:10px;
  width:105px;
  height: 30px;
  display: block;
  text-decoration:none;
  text-align: center;
  line-height: 30px;
  padding:5px;
	color: #111;
	background-color: #fff;
  border-bottom: 1px solid #fff;
}

#menu li a:hover {
  background-color: #f9f9f9;
  background-repeat: repeat;  	
}

#menu li a:active {
  background-color:#ffffff;
  background-image: none;
}

#menu ul ul {
  position: absolute;
  top: 40px;
  visibility: hidden;
}
  
#menu ul li:hover ul  {
  visibility:visible;
}

/* content*/
.webui #content {
  font-size: 12px;
  padding: 10px;
	background-color: #f1f1f1;
  text-align:left;
  color:#111;
}

/* home content*/
#home_content_left {
  font-size: 12px;
  padding: 10px;
	background-color: #000000;
  text-align:left;
  width:70%;

}

.webui #home_content_right {
  float:right;
  width: 270px;
  height: 132px;
  margin-top: -219px;
  margin-right: 20px;
  
}

/* Slide Show */
.slideshow {
  z-index:200;
  position: relative;
  float:left;
  margin-top: 0px;
  margin-left:0px;
  width: 270px;
  height: 132px;
}

.slideshow img {
  padding: 10px; 
  border: 1px solid #999;
  background-color: #ccc;
  width: 250px;
  height: 110px;
}

/* MainContainer */
.webui #MainContainer {;}

/* from sitemodul.php */
#scr {
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow:auto;
}

/* from pwreset.php */
.Stil1 { font-size: 18px;	font-weight: bold;}

/* grid status module */
.textcolorwhite {color: #f1f1f1;}
.translatorcolor {color: #ffffff;}
.textcolorgreen {color:#12d212;}
.textcolorred {color:#ea0202;}

.placeholder{font-size: 3px}
.box {font-size: 12px;height: 20px; width:60px;}
.box1 {font-size: 12px;height: 20px;width: 60px;}
.boxspace {font-size: 1px; color: #ffffff;}
.style1 {color: #fff}
.style2 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; }
.Stil9 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; }


/* add by djphil */
a , ul, ol, li, form {margin: 0px; padding: 0px;}
a {cursor:pointer; font-size: 1em; color:#00ff00; outline: none; text-decoration: underline; }
a:hover {text-decoration: none;}
img {border: 0px;}
table {font-size: 100%; border:0px;}

h1 {font-size: 24px; color:#111111;}
h2 {font-size: 18px; color:#111111;}
h3 {font-size: 14px; color:#111111;}
h4 {font-size: 12px; color:#111111;}
h5 {font-size: 10px; color:#111111;}

.webui #header h1 span {display:none;}
.webui #header h2 span {display:none;}
.webui #header h3 span {display:none;}
.webui #header h4 span {display:none;}
.webui #header h5 span {display:none;}

.webui #MainContainer h1 span {display:none;}
.webui #MainContainer h2 span {display:none;}
.webui #MainContainer h3 span {display:none;}
.webui #MainContainer h4 span {display:none;}
.webui #MainContainer h5 span {display:none;}

.webui #footer h1 span {display:none;}
.webui #footer h2 span {display:none;}
.webui #footer h3 span {display:none;}
.webui #footer h4 span {display:none;}
.webui #footer h5 span {display:none;}

/* tables setting */
#content table {font-size: 100%;}
#content a {color: #aaaa00; text-decoration: none;}
#content a:visited {text-decoration: none}
#content a:active {text-decoration: none}
#content a:hover {text-decoration: underline;}

#regionlist {width:100%;background-color: transparent;margin-top:60px;}
#regionlist table {color: #111; width: 100%;}
#regionlist td a {color: #aaaa00; text-decoration: none;}
#regionlist a:visited {text-decoration: none}
#regionlist a:active {text-decoration: none}
#regionlist a:hover {text-decoration: underline;}

#register  {width:100%;background-color: #ddd;margin-top:60px;}
#register table {color: #111; width: 100%;}
#register a {color: #aaaa00; text-decoration: none;}
#register a:visited {text-decoration: none}
#register a:active {text-decoration: none}
#register a:hover {text-decoration: underline;}

#login {width:100%;background-color: #ddd;margin-top:60px;}
#login table {color: #111; width: 100%;}
#login td {width: 50%;}
#login a {color: #aaaa00; text-decoration: none;}
#login a:visited {text-decoration: none}
#login a:active {text-decoration: none}
#login a:hover {text-decoration: underline;}

#forget_pass {width:100%;background-color: #ddd;margin-top:60px;}
#forget_pass table {color: #111; width: 100%;}
#forget_pass td {width: 50%;}
#forget_pass a {color: #aaaa00; text-decoration: none;}
#forget_pass a:visited {text-decoration: none}
#forget_pass a:active {text-decoration: none}
#forget_pass a:hover {text-decoration: underline;}

#usersonline {width:100%;background-color: transparent;margin-top:60px;}
#usersonline table {color: #111; width: 100%;}
#usersonline a {color: #aaaa00; text-decoration: none;}
#usersonline a:visited {text-decoration: none}
#usersonline a:active {text-decoration: none}
#usersonline a:hover {text-decoration: underline;}

#searchpeople {width:100%;background-color: transparent;margin-top:60px;}
#searchpeople table {color: #111; width: 100%;}
#searchpeople a {color: #aaaa00; text-decoration: none;}
#searchpeople a:visited {text-decoration: none}
#searchpeople a:active {text-decoration: none}
#searchpeople a:hover {text-decoration: underline;}

#changeaccount {width:100%;background-color: transparent;margin-top:60px;}
#changeaccount table {color: #111; width: 100%;}
#changeaccount a {color: #aaaa00; text-decoration: none;}
#changeaccount a:visited {text-decoration: none}
#changeaccount a:active {text-decoration: none}
#changeaccount a:hover {text-decoration: underline;}

#loginscreen_manager {width:100%;background-color: transparent;margin-top:60px;}
#loginscreen_manager table {color: #111; width: 100%;}
#loginscreen_manager a {color: #aaaa00; text-decoration: none;}
#loginscreen_manager a:visited {text-decoration: none}
#loginscreen_manager a:active {text-decoration: none}
#loginscreen_manager a:hover {text-decoration: underline;}

#managepanel {width:100%;background-color: transparent;margin-top:60px;}
#managepanel table {color: #111; width: 100%;}
#managepanel a {color: #aaaa00; text-decoration: none;}
#managepanel a:visited {text-decoration: none}
#managepanel a:active {text-decoration: none}
#managepanel a:hover {text-decoration: underline;}

#news {width:100%;background-color: transparent;margin-top:60px;}
#news table {color: #111; width: 100%;}
#news td a {color: #aaaa00; text-decoration: none;}
#news a:visited {text-decoration: none}
#news a:active {text-decoration: none}
#news a:hover {text-decoration: underline;}

#createnews {width:100%;background-color: transparent;margin-top:60px;}
#createnews table {color: #111; width: 100%;}
#createnews a {color: #aaaa00; text-decoration: none;}
#createnews a:visited {text-decoration: none}
#createnews a:active {text-decoration: none}
#createnews a:hover {text-decoration: underline;}

#useragentprofil {min-height:160px; width:100%;background-color: transparent;margin-top:60px;}
#useragentprofil table {color: #111; width: 50%;}
#useragentprofil a {color: #aaaa00; text-decoration: none;}
#useragentprofil a:visited {text-decoration: none}
#useragentprofil a:active {text-decoration: none}
#useragentprofil a:hover {text-decoration: underline;}

#regioninfo {min-height:283px; width:100%;background-color: transparent;margin-top:60px;}
#regioninfo table {color: #111; width:100%}
#regioninfo a {color: #aaaa00; text-decoration: none;}
#regioninfo a:visited {text-decoration: none}
#regioninfo a:active {text-decoration: none}
#regioninfo a:hover {text-decoration: underline;}

#adminsettings {width:100%;background-color: transparent;margin-top:60px;}
#adminsettings table {color: #111; width: 100%;}
#adminsettings a {color: #aaaa00; text-decoration: none;}
#adminsettings a:visited {text-decoration: none}
#adminsettings a:active {text-decoration: none}
#adminsettings a:hover {text-decoration: underline;}

#support {width:100%;background-color: transparent;margin-top:60px;}
#support table {color: #111; width: 100%;}
#support a {color: #aaaa00; text-decoration: none;}
#support a:visited {text-decoration: none}
#support a:active {text-decoration: none}
#support a:hover {text-decoration: underline;}

#help {width:100%;background-color: transparent;margin-top:60px;}
#help table {color: #111; width: 100%;}
#help a {color: #aaaa00; text-decoration: none;}
#help a:visited {text-decoration: none}
#help a:active {text-decoration: none}
#help a:hover {text-decoration: underline;}

#chat {width:100%;background-color: transparent;margin-top:60px;}
#chat table {color: #111; width: 100%;}
#chat a {color: #aaaa00; text-decoration: none;}
#chat a:visited {text-decoration: none}
#chat a:active {text-decoration: none}
#chat a:hover {text-decoration: underline;}

#gallery {width:100%;background-color: transparent;margin-top:60px;}
#gallery table {color: #111; width: 100%;}
#gallery a {color: #aaaa00; text-decoration: none;}
#gallery a:visited {text-decoration: none}
#gallery a:active {text-decoration: none}
#gallery a:hover {text-decoration: underline;}

/* more info profil */
#profil_picture {
  float: right;
  margin-top: -125px;
}

#profil_picture img {
  border: 1px solid #FFFFFF;
  height: 128px;
  width: 128px;
}

/* more info region */
#region_picture {
  float: left;
  margin-top: 5px;
}

#region_picture img {
  border: 1px solid #FFFFFF;
  height: 128px;
  width: 128px;
}

#regionMap {float:right; padding:0; margin:0}
#regionMap table {display:inline-block;}
#regionMap td {padding:0; margin:0;}
#regionMap tr {padding:0; margin:0}
#regionMap tr td {height:65px; width:65px; font-size:9px; line-height:10px; text-align:center; padding:2px; background:#FFF;}
#regionMap .nosim { background:transparent; border: 1px dashed #999999;}
#regionMap .thissim {background:#AE3D1B; color:#FFF; font-weight:bold;}

#regiondetails {
position: absolute;
float:left; padding:0; margin:0;
margin-top: 140px;}

#region_navigation {
  width: 300px;
  float: right;
}

.even {
  background-color: transparent;
  background-image: url("background_01.png");
}

.odd {
  background-color: transparent;
  background-image: url("background_04.png");
}

.center {text-align: center; margin: 0 auto; width:300px;}

.error {
  background-color: transparent;
  background-image: url("background_03.png");
  color: #ff0000;
}

/* input & bouton */
#register_input {width: 98%;}
#register_bouton {font-size: 14px; margin-left: auto; margin-right: auto;}

#birthday_input {width: 33%;}

#login_input {width: 98%;}
#login_bouton {font-size: 14px;}

#forgot_pass_input {width: 98%;}
#forgot_pass_bouton {font-size: 14px;}

#search_input {width: 100%; font-size: 14px;}
#search_bouton {font-size: 14px;}

/* region map */
#region_map {
  width:100%;
  margin-top:60px;
  margin: 0px;
  padding: 0px;
  height: 350px;
  background-color: transparent;
  border:none;
}

/* Grid News */
.newslist {
	padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 100%;
  border-top-style: none;
  padding-top: 0px;
  border-right-style: none;
  border-left-style: none;
  border-collapse: collapse;
  height: 77px;
  border-bottom-style: none;
}

/* Frontend SlideShow */
.clear {
  clear:both
}

#gallery_slideshow {
	position:absolute;
	height:240px;
	width:30%;
	margin-left: 550px;
	margin-top: -320px;
}

#gallery_slideshow a {
	float:left;
	position:absolute;
}
	
#gallery_slideshow a img {
	border:none;	
  height:240px;
  width:320px;
}
	
#gallery_slideshow a.show {
	z-index:500
}

#gallery_slideshow .caption {
	z-index:600; 
	background-color:#000; 
	color:#ffffff; 
	height:45px; 
	width:100%; 
	position:absolute;
	bottom:0;
}

#gallery_slideshow .caption .content {
	margin:5px
}

#gallery_slideshow .caption .content h3 {
	margin:0;
	padding:0;
	color:#1DCCEF;
}

/* footer */
.webui #footer {
	padding:  5px 5px 0px 5px;
	margin-top: 10px;
	height:35px;
}

.webui #footer p {margin: 0; padding: 10px 0;}

/* Validator_Module */
.webui #validator {text-align: center;}

/* gridstatus */
#gridstatus {
  position: relative;
  float:right;
  margin-top: -57.5px;
  margin-right: 12px;
  border:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:1em;
  z-index: 50;
}

#gridstatus table td {padding:0px;}
#gridstatus table {border-spacing: 0px; border-collapse:collapse;}
#gridstatus td .linegrey {height:1px; background-color: #444444;}

.online {font-weight: bold; color: #00ff00; text-align:right;}
.offline {font-weight: bold; color: #ff0000;}
.gridtext {font-size: 80%;padding-right: 3px; padding-left: 3px; padding-bottom: 2px; padding-top: 2px;}
.gridtext a {color: #aaaa00;}

td.gridbox_t {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_r {
	background-position: right top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_b {
	background-position: left bottom;
  background-image: url(../../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_l {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_tl {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/gridbox_tl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_tr {
	background-position: right top;
  background-image: url(../../images/login_screens/icons/gridbox_tr.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_bl {
	background-position: left bottom;
  background-image: url(../../images/login_screens/icons/gridbox_bl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_br {
	background-position: right bottom;
  background-image: url(../../images/login_screens/icons/gridbox_br.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

/* Pretty Message */
#message {
  background-color: #CCCC99;
  border-top: 2px solid #CCCC55;
  border-bottom: 2px solid #CCCC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#info {
  background-color: #9999CC;
  border-top: 2px solid #5555CC;
  border-bottom: 2px solid #5555CC;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#alert {
  background-color: #CC9999;
  border-top: 2px solid #CC5555;
  border-bottom: 2px solid #CC5555;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#download {
  background-color: #99CC99;
  border-top: 2px solid #55CC55;
  border-bottom: 2px solid #55CC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.hiddenrow
{
	display:none; 
}

/* Top Panel Slider */
a:focus {
	outline: none;
}

#panel {
	background: #000;
	height: 34px;
	display: none;
}
.slide {
	margin: 0px;
	padding: 0px;
	border-top: solid 1px #000000;
	background: url(slide.png) no-repeat center top;
}

.btn-slide {
	background: url(arrow.png) no-repeat right -61px;
	text-align: center;
	width: 100px;
	height: 16px;
	padding: 0px 5px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 0.6em Verdana, Helvetica, sans-serif;
	color: #111;
	text-decoration: none;
	z-index: 100;
}
.active {
	background-position: right 4px;
}

#panelcontent {
  position: relative;
  width: 500px;
  margin: 0 auto;
  font-size: 12px;
  background-color: #333;
  background-image: url("background_03.png");
}

/* StyleSwitch */
#switchers {
  position: relative;
  width: 600px;
  margin: 0 auto;
  color:#ffffff;
  font-size: 0.8em; 
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
  background-color: #222;
  background-image: url("background_03.png");
}

.template1 {
  background-color: #aa0001;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
  border:1px solid #000;
}

.template2 {
  background-color: #00aa01;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
  border:1px solid #000;
}

.template3 {
  background-color: #0100aa;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
}

a.link1 {color:#aa0001;}
a.link2 {color:#00aa01;}
a.link3 {color:#0100aa;}


/* Makes it pretty */
#options table {
  width: 100%;
  border: solid 0px #222;
  border-collapse: separate;
  border-spacing: 3px ;
}

#options th {
  border: solid 0px #000;
  background-color: #C8D1D1;
  font-weight: bold;
  padding: 3px;
  text-align: left;
}

#options td {
  background-color: #000;
  padding: 3px;
  border: 1px solid #111;
}

/* jQuery */
div.section { clear: left; }

div.demo, div.inner { color: #000; text-align: center; font-family: verdana, arial, sans-serif;}

div.annonce1, div.annonce2, div.annonce3
{ color: #111; text-align: center; font-family: verdana, arial, sans-serif;}
div#annonce1 {
float: left;
width: 233px;
padding: 20px;
margin: 10px;
background: #fff;
font-size: 12px;
}
div#annonce2 {
float: left;
width: 233px;
padding: 20px;
margin: 10px;
background: #fff;
font-size: 12px;
}

div#annonce3 {
float: left;
width: 233px;
padding: 20px;
margin: 10px;
background: #fff;
font-size: 12px;
}

div#annonce4 {
float: left;
width: 819px;
padding: 20px;
margin: 10px;
background: #fff;
font-size: 12px;
}

div#annonce10 {
float: left;

padding: 20px;
margin: 10px;
background: #fff;
font-size: 12px;
}


div.inner { margin: 0; background: #ffc; padding: 10px; border:0; } /* zoom:1; */
div.outer { float: left; margin: 15px; background: #c82; padding: 8px; width: 22em }
div.fun   { margin: 2px; }

div#ContentHeaderLeft {
margin: 10px;
width: 273px;
background-color: transparent;
float: left;
}

div#ContentHeaderCenter {
margin: 10px;
width: 272px;
background-color: transparent;
float: left;
font-weight: bold;
margin-top:25px;
}

div#ContentHeaderRight {
margin: 10px;
width: 275px;
background-color: transparent;
float: left;
text-align:right;
}

#abs { position: absolute; width: 200px; background: #ffa; padding: 5px; margin: 8px; top: 0; right: 0; text-align: center }
 
/* fixed height/width testing */
#box  { background-color: #6af; padding: 15px; text-align: center; margin: 25px }
#box1 {;}                                       /* fluid (zoom:1 for layout) */
#box2 { height: 150px;  }                              /* fixed height */
#box3 { width:  300px; margin:auto }                   /* fixed width */
#box4 { height: 150px; width: 300px; margin:auto }     /* fixed height and width */
 
div.plain  { background-color: #6af; text-align: center; }

#twitter { float:right; right: 20px; }
#twitter a { text-decoration: none; font-family: arial; vertical-align: top }
#twitter img { border: none; float: left }
 
div.desc { margin: 10px }
