/* WebUI Css Level 2.1 v0.6 (08/04/2011) */

html {width: 100%; height: 100%;}

body.webui {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  color:#111111;
  background: #e1e1e1 url("background_01_off.jpg") fixed 50% 0% repeat-x;
}

.webui #adminnote {
	width: 900px;
  background-color: transparent;
	margin: 0 auto;
  text-align: center;
	border: 0px solid #000000;
	text-align: left;
}

.webui #absolute {;}

/* Translator and date Container */
.webui #topcontainer {
	width: 920px;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
}

/* Translator_Module */
.webui #translator {
  position: relative;
  float:left;
  margin: 0px;
  margin-top: 0px;
  margin-right: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  /* background-image: url("background_06.png"); */
  background-color: #ffffff;
  background-repeat: repeat;
	height: 15px;
}

/* Date Module*/
.webui #date {
  position: relative;
  float:left;
  margin: 0px;
  margin-top: 0px;
  margin-left: 3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
  font-size: 0.8em;
  /* background-image: url("background_06xxx.png"); */
  background-color: transparent;
  background-repeat: repeat;
	height: 15px;
	width:255px;
}

/* Welcome Text Module */
.webui #welcomeText {
  position: relative;
  float:right;
  margin: auto;
  margin-top: 0px;
  padding: 3px;
  padding-bottom:3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:0.8em;
  height: 15px;
  /* background-image: url("background_06.png"); */
  background-color: #ffffff;
}

/* Scrolling Text Module */
div.horizontal_scroller, div.vertical_scroller {
  position:absolute;
	height: 16px;
	width: 270px;
	margin-left: 330px;
	display:block;
	overflow:hidden;
  float:left;
  margin-top: 0px;		
}

div.scrollingtext {
  position:absolute;
	white-space:nowrap;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  z-index:99;
  color:#111111;
  padding: 3px;
  padding-bottom:3px;
}

/* The Container */
.webui #container {
	width: 900px;
  /* background-image: url("background_06.png"); */
  background-color: #ffffff;
  background-repeat: repeat;
  margin-top: 10px;
	border: 0px solid #000;
	text-align: left;
	padding: 10px;
	float: left;
}

.webui #header {
  color:#eeeeee;
  background: #ffffff;
	border: 0px solid #222;
}

.webui #headerimages {;}
/* Logo */

.webui #headerimages h1 {
  color:#111111;
	margin: 0px;
	height:139px;

}

#headerimages {
margin: 0px;
	padding: 0;
	text-indent: -9999px;
	height: 139px;
	position: relative;
	background: transparent url(header.png) no-repeat;
}

#headerimages a {
  width: 900px;
	position: relative;
	top: 0;
	left: 0;
	width: 534px;
	height: 139px;
	display: block;
	border: 0;
	background: transparent;
	overflow: hidden;
}

#headerimages .fake-hover {
	margin: 0;
	padding: 0;
	width: 534px;
	height: 139px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(header.png) no-repeat 0 -150px;
}

/* MenuBar Horizontal */
.webui #menubar {margin-top:10px;}

/* Pretty Menu */
/*
#menu {
	z-index:100;
background-color: #1a1a1a;
height:60px;
width: 100%;
padding-top:0px;
margin-bottom:-10px;
text-indent: 0px;
}

.menu {
  background-color: #000;
  height:50px;
  width:890px;	
  position:relative;
  margin: auto;
  padding-top:10px;
}

#menu ul.menu  {
  list-style-type:none;
}

#menu li {z-index:100;
  position: relative;
	display: block;
  float:left; /*pour IE*/ /*
	list-style: none;
	text-align: center;margin:0 auto;
}

#menu li a {  
  margin-left:10px;
  width:105px;
  height: 30px;
  display: block;
  text-decoration:none;
  text-align: center;
  line-height: 30px;
  padding:5px;
	color: #ffffff;
	background-color: #111;  
	border-bottom: 1px solid #000;
}

#menu li a:hover {
  background-color: #222;
  background-repeat: repeat;
}

#menu li a:active {
  background-color:#ff0000;
  background-image: none;
}

#menu ul ul {
  position: absolute;
  top: 40px;
  visibility: hidden;
}
  
#menu ul li:hover ul  {
  visibility:visible;
}
*/

/* content*/
.webui #content {
  float:left;
  width: 880px;
  margin: 0 auto;
  margin-top:10px;
  font-size: 12px;
  padding: 10px;
	background-color: #f1f1f1;
  text-align:left;
  color:#111111; 
}

div#ContentHeaderLeft {
margin: 10px;
width: 30%;
background-color: transparent;
float: left;
}

div#ContentHeaderCenter {
margin: 10px;
width: 30%;
background-color: transparent;
float: left;
font-weight: bold;
margin-top:25px;
}

div#ContentHeaderRight {
margin: 10px;
width: 30%;
background-color: transparent;
float: left;
text-align:right;
}

/* home content */
#home_content_left {
  font-size: 12px;
  padding: 10px;
	background-color: #ffffff;
  text-align:left;
  width:70%;

}

.webui #home_content_right {
  float:right;
  width: 270px;
  height: 132px;
  margin-top: -215px;
  margin-right: 23px;
  
}

/* Slide Show */
.slideshow {
  z-index:200;
  position: relative;
  float:left;
  margin-top: 84px;
  margin-left:0px;
  width: 270px;
  height: 132px;
}

.slideshow img {
  padding: 0px; 
  border: 10px solid #f1f1f1;
  background-color: #ffffff;
  width: 260px;
  height: 110px;
}

/* MainContainer */
.webui #MainContainer {;}

/* from sitemodul.php */
#scr {
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow:auto;
}

/* from pwreset.php */
.Stil1 { font-size: 18px;	font-weight: bold;}

/* grid status module */
.textcolorwhite {color: #f1f1f1;}
.translatorcolor {color: #ffffff;}
.textcolorgreen {color:#12d212;}
.textcolorred {color:#ea0202;}

.placeholder{font-size: 3px}
.box {font-size: 12px;height: 20px; width:60px;}
.box1 {font-size: 12px;height: 20px;width: 60px;}
.boxspace {font-size: 1px; color: #ffffff;}
.style1 {color: #fff}
.style2 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #ffffff; }
.Stil9 {font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; }


/* add by djphil */
a , ul, ol, li, form {margin: 0px; padding: 0px;}
a {cursor:pointer; font-size: 1em; color:#ffa500; outline: none; text-decoration: none; }
a:hover {text-decoration: underline;}
img {border: 0px;}
table {font-size: 100%; border:0px;}

h1 {font-size: 24px; color:#111111;}
h2 {font-size: 18px; color:#111111;}
h3 {font-size: 14px; color:#111111;}
h4 {font-size: 12px; color:#111111;}
h5 {font-size: 10px; color:#111111;}

.webui #header h1 span {display:none;}
.webui #header h2 span {display:none;}
.webui #header h3 span {display:none;}
.webui #header h4 span {display:none;}
.webui #header h5 span {display:none;}

.webui #MainContainer h1 span {display:none;}
.webui #MainContainer h2 span {display:none;}
.webui #MainContainer h3 span {display:none;}
.webui #MainContainer h4 span {display:none;}
.webui #MainContainer h5 span {display:none;}

.webui #footer h1 span {display:none;}
.webui #footer h2 span {display:none;}
.webui #footer h3 span {display:none;}
.webui #footer h4 span {display:none;}
.webui #footer h5 span {display:none;}

/* tables setting */
#content table {font-size: 100%;}
#content a {color: #ffa500; text-decoration: none;}
#content a:visited {text-decoration: none}
#content a:active {text-decoration: none}
#content a:hover {text-decoration: underline;}

#regionlist {width:100%; background-color: transparent; margin-top:60px;}
#regionlist table {color: #111111; width: 100%;}
#regionlist td a {color: #ffa500; text-decoration: none;}
#regionlist a:visited {text-decoration: none}
#regionlist a:active {text-decoration: none}
#regionlist a:hover {text-decoration: underline;}

#register  {width:100%; background-color: transparent; margin-top:70px;}
#register table {color: #111111; width: 100%;}
#register td {padding: 5px;}
#register a {color: #ffa500; text-decoration: none;}
#register a:visited {text-decoration: none}
#register a:active {text-decoration: none}
#register a:hover {text-decoration: underline;}

#login  {width:100%; background-color: transparent; margin-top:70px;}
#login table {color: #111111; width: 100%;}
#login td {padding: 5px;}
#login a {color: #ffa500; text-decoration: none;}
#login a:visited {text-decoration: none}
#login a:active {text-decoration: none}
#login a:hover {text-decoration: underline;}

#forget_pass  {width:100%; background-color: transparent; margin-top:70px;}
#forget_pass table {color: #111111; width: 100%;}
#forget_pass td {padding: 5px;}
#forget_pass a {color: #ffa500; text-decoration: none;}
#forget_pass a:visited {text-decoration: none}
#forget_pass a:active {text-decoration: none}
#forget_pass a:hover {text-decoration: underline;}

#usersonline {width:100%;background-color: transparent;margin-top:60px;}
#usersonline table {color: #111111; width: 100%;}
#usersonline a {color: #ffa500; text-decoration: none;}
#usersonline a:visited {text-decoration: none}
#usersonline a:active {text-decoration: none}
#usersonline a:hover {text-decoration: underline;}

#searchpeople {width:100%;background-color: transparent;margin-top:60px;}
#searchpeople table {color: #111111; width: 100%;}
#searchpeople a {color: #ffa500; text-decoration: none;}
#searchpeople a:visited {text-decoration: none}
#searchpeople a:active {text-decoration: none}
#searchpeople a:hover {text-decoration: underline;}

#changeaccount {width:100%;background-color: transparent;margin-top:60px;}
#changeaccount table {color: #111111; width: 100%;}
#changeaccount a {color: #ffa500; text-decoration: none;}
#changeaccount a:visited {text-decoration: none}
#changeaccount a:active {text-decoration: none}
#changeaccount a:hover {text-decoration: underline;}

#loginscreen_manager {width:100%;background-color: transparent;margin-top:60px;}
#loginscreen_manager table {color: #111111; width: 100%;}
#loginscreen_manager a {color: #ffa500; text-decoration: none;}
#loginscreen_manager a:visited {text-decoration: none}
#loginscreen_manager a:active {text-decoration: none}
#loginscreen_manager a:hover {text-decoration: underline;}

#managepanel {width:100%;background-color: transparent;margin-top:60px;}
#managepanel table {color: #111111; width: 100%;}
#managepanel a {color: #ffa500; text-decoration: none;}
#managepanel a:visited {text-decoration: none}
#managepanel a:active {text-decoration: none}
#managepanel a:hover {text-decoration: underline;}

#news {width:100%;background-color: transparent;margin-top:60px;}
#news table {color: #111111; width: 100%;}
#news td a {color: #ffa500; text-decoration: none;}
#news a:visited {text-decoration: none}
#news a:active {text-decoration: none}
#news a:hover {text-decoration: underline;}

#createnews {width:100%;background-color: transparent;margin-top:60px;}
#createnews table {color: #111111; width: 100%;}
#createnews a {color: #ffa500; text-decoration: none;}
#createnews a:visited {text-decoration: none}
#createnews a:active {text-decoration: none}
#createnews a:hover {text-decoration: underline;}

#adminsettings {width:100%;background-color: transparent;margin-top:60px;}
#adminsettings table {color: #111111; width: 100%;}
#adminsettings a {color: #ffa500; text-decoration: none;}
#adminsettings a:visited {text-decoration: none}
#adminsettings a:active {text-decoration: none}
#adminsettings a:hover {text-decoration: underline;}

#support {width:100%;background-color: transparent;margin-top:60px;}
#support table {color: #111111; width: 100%;}
#support a {color: #ffa500; text-decoration: none;}
#support a:visited {text-decoration: none}
#support a:active {text-decoration: none}
#support a:hover {text-decoration: underline;}

#help {width:100%;background-color: transparent;margin-top:60px;}
#help table {color: #111111; width: 100%;}
#help a {color: #ffa500; text-decoration: none;}
#help a:visited {text-decoration: none}
#help a:active {text-decoration: none}
#help a:hover {text-decoration: underline;}

#chat {width:100%;background-color: transparent;margin-top:60px;}
#chat table {color: #111111; width: 100%;}
#chat a {color: #ffa500; text-decoration: none;}
#chat a:visited {text-decoration: none}
#chat a:active {text-decoration: none}
#chat a:hover {text-decoration: underline;}

#gallery {width:100%;background-color: transparent;margin-top:60px;}
#gallery table {color: #111111; width: 100%;}
#gallery a {color: #ffa500; text-decoration: none;}
#gallery a:visited {text-decoration: none}
#gallery a:active {text-decoration: none}
#gallery a:hover {text-decoration: underline;}

/* content popup */
.webui #container_popup {
	width: 760px;
  background-image: url("background_06.png");
  background-color: transparent;
  background-repeat: repeat;
  margin: 0 auto;
  margin-top: 10px;
	border: 0px solid #000000;
	text-align: left;
	padding: 10px;
}

.webui #content_popup {
  width: 740px;
  margin: 0 auto;
  font-size: 12px;
  padding: 10px;
	background-color: #000000;
  text-align:left;
  color:#111111; 
}

/* more info profil */
#useragentprofil {min-height:225px; width:100%;background-color: transparent;margin-top:20px;}
#useragentprofil table {color: #111111; width: 50%;}
#useragentprofil a {color: #aaaa00; text-decoration: none;}
#useragentprofil a:visited {text-decoration: none}
#useragentprofil a:active {text-decoration: none}
#useragentprofil a:hover {text-decoration: underline;}

#profil_picture {
  float: right;
  margin-top: -120px;
}

#profil_picture img {
  border: 1px solid #111111;
  height: 200px;
  width: 200px;
}

/* more info region */
#regioninfo {min-height:283px; width:100%;background-color: transparent;margin-top:20px;}
#regioninfo table {color: #111111; width:230px;}
#regioninfo a {color: #aaaa00; text-decoration: none;}
#regioninfo a:visited {text-decoration: none}
#regioninfo a:active {text-decoration: none}
#regioninfo a:hover {text-decoration: underline;}

#regionMap {float:right; padding:0; margin:0}
#regionMap table {display:inline-block;}
#regionMap td {padding:0; margin:0;}
#regionMap tr {padding:0; margin:0}
#regionMap tr td {height:65px; width:65px; font-size:9px; line-height:10px; text-align:center; padding:2px; background:#ffffff;}
#regionMap .nosim { background:#444; border: 1px dashed #999999;}
#regionMap .thissim {background:#AE3D1B; color:#FFF; font-weight:bold;}

#region_picture {
  float: left;
  margin-top: 5px;
}

#region_picture img {
  border: 1px solid #111111;
  height: 220px;
  width: 220px;
}

#regiondetails {
  position: absolute;
  float:left; 
  padding:0px;
  padding-left: 230px;
  margin:0px;
  margin-top: 0px;
}

#region_navigation {
  width: 300px;
  float: right;
}

/*
.even {
  background-color: transparent;
  background-image: url("background_03_off.png");
}

.odd {
  background-color: transparent;
  background-image: url("background_02_off.png");
}
*/

.center {text-align: center; margin: 0 auto; width:300px;}

.error {
  background-color: transparent;
  /* background-image: url("background_03.png"); */
  color: #ff0000;
}

/* input & bouton */
#birthday_input {
  width: 33%;
  background-color: #ffffff; 
  border: 0px solid #2a2a2a;
}

#register_input, #login_input, #forgot_pass_input {
  width: 94%;
  background-color: #ffffff;
  border: 0px solid #2a2a2a; 
  color:#111111;
  padding:5px; padding-left: 20px;
}

#register_bouton, #login_bouton, #forgot_pass_bouton, #adminlogin_button {
  font-size: 14px; 
  outline:none;
  padding:5px;  
  background-color: #00ff00;
  background-image: url("shadow_02.png");
  background-repeat: repeat-x;
  border: 0px solid #00ff00;
}

#register_bouton:hover, #login_bouton:hover, #forgot_pass_bouton:hover, #adminlogin_button:hover {
  font-size: 14px;
  outline:none;
  padding:5px;
  background-color: #00aa00;
}


#search_input {
  width: 94%;
  background-color: #ffffff; 
  border: 0px solid #2a2a2a; color:#111111;
  padding:5px; padding-left: 20px;
}

#search_bouton {font-size: 14px; background-color: #cccccc; outline:none; padding:5px;}

.adminsettings_bouton {
  font-size: 14px;
  color: #111111;
  border: 0px solid #1a1a1a;
  background-color: #cccccc;
  outline:none;
  padding:5px;
  width:100px;
}

.roundedinput {
  background-color: #ffffff;
  background-image: url("shadow_02.png");
  background-repeat: repeat-x;
  padding:5px;
}

/* region map */
#region_map {
  width:100%;
  margin-top:60px;
  margin: 0px;
  padding: 0px;
  height: 350px;
  background-color: transparent;
  border:none;
}

/* Grid News */
.newslist {
	padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 100%;
  border-top-style: none;
  padding-top: 0px;
  border-right-style: none;
  border-left-style: none;
  border-collapse: collapse;
  height: 77px;
  border-bottom-style: none;
}

/* Frontend SlideShow */
.clear {
  clear:both
}

#gallery_slideshow {
	position:absolute;
	height:240px;
	width:30%;
	margin-left: 550px;
	margin-top: -320px;
}

#gallery_slideshow a {
	float:left;
	position:absolute;
}
	
#gallery_slideshow a img {
	border:none;	
  height:240px;
  width:320px;
}
	
#gallery_slideshow a.show {
	z-index:500
}

#gallery_slideshow .caption {
	z-index:600; 
	background-color:#000; 
	color:#111111; 
	height:45px; 
	width:100%; 
	position:absolute;
	bottom:0;
}

#gallery_slideshow .caption .content {
	margin:5px
}

#gallery_slideshow .caption .content h3 {
	margin:0px;
	padding:0px;
	color:#1DCCEF;
}

/* footer */
.webui #footer {
  float: left;
width: 100%;
	height:35px;
		margin:10px;
}

.webui #footer p {margin: 10px; padding: 10px;}

div.team {
float: left;
width: 100%;
font-size: 12px;
text-align: center;
}

div.pageloadtime {
  float: left;
  width: 100%;
	padding-bottom:10px;
  font-size: 10px;
  text-align: center;
  color: #111111;
}

/* Validator_Module */
.webui #validator {text-align: center;}

/* gridstatus */
#gridstatus {
  position: relative;
  float:right;
  margin-top: -57.5px;
  margin-right: 12px;
  border:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:1em;
  z-index: 50;
}

#gridstatus table td {padding:0px;}
#gridstatus table {border-spacing: 0px; border-collapse:collapse;}
#gridstatus td .linegrey {height:1px; background-color: #444444;}

.online {font-weight: bold; color: #00ff00; text-align:right;}
.offline {font-weight: bold; color: #ff0000;}
.gridtext {font-size: 80%;padding-right: 3px; padding-left: 3px; padding-bottom: 2px; padding-top: 2px;}
.gridtext a {color: #aaaa00;}

td.gridbox_t {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_r {
	background-position: right top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_b {
	background-position: left bottom;
  background-image: url(../../images/login_screens/icons/grey.gif);
  background-repeat: repeat-x;
  HEIGHT: 5px;
  background-color: #000000;
}

td.gridbox_l {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/grey.gif);
  width: 5px;
  background-repeat: repeat-y;
  background-color: #000000;
}

td.gridbox_tl {
	background-position: left top;
  background-image: url(../../images/login_screens/icons/gridbox_tl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_tr {
	background-position: right top;
  background-image: url(../../images/login_screens/icons/gridbox_tr.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_bl {
	background-position: left bottom;
  background-image: url(../../images/login_screens/icons/gridbox_bl.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

td.gridbox_br {
	background-position: right bottom;
  background-image: url(../../images/login_screens/icons/gridbox_br.png);
  width: 5px;
  background-repeat: no-repeat;
  height: 5px;
}

/* Pretty Message */
#message {
  background-color: #CCCC99;
  border-top: 2px solid #CCCC55;
  border-bottom: 2px solid #CCCC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#info {
  background-color: #9999CC;
  border-top: 2px solid #5555CC;
  border-bottom: 2px solid #5555CC;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#alert {
  background-color: #CC9999;
  border-top: 2px solid #CC5555;
  border-bottom: 2px solid #CC5555;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

#download {
  background-color: #99CC99;
  border-top: 2px solid #55CC55;
  border-bottom: 2px solid #55CC55;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.hiddenrow
{
	display:none; 
}

/* Top Panel Slider */
a:focus {
	outline: none;
}

#panel {
	background: #ffffff;
	height: 34px;
	display: none;
}

.slide {
	margin: 0px;
	padding: 0px;
	border-top: solid 3px #ffffff;
	background: url(slide.png) no-repeat center top;
}

.btn-slide {
	background: url(arrow.png) no-repeat right -61px;
	text-align: center;
	width: 100px;
	height: 16px;
	padding: 0px 5px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 0.6em Verdana, Helvetica, sans-serif;
	color: #111111;
	text-decoration: none;
	z-index: 100;
}

.active {
	background-position: right 4px;
}

#panelcontent {
  position: relative;
  width: 500px;
  margin: 0 auto;
  font-size: 12px;
  background-color: #333;
  background-image: url("background_03.png");
}

/* StyleSwitch */
#switchers {
  position: relative;
  width: 620px;
  margin: 0 auto;
  color:#111111;
  font-size: 12px; 
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

.template1 {
  background-color: #aa0001;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
  border:1px solid #cccccc;
}

.template2 {
  background-color: #00aa01;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
  border:1px solid #cccccc;
}

.template3 {
  background-color: #0100aa;
  margin:0px;
  padding:0px;
  height:18px;
  width:18px;
}

a.link1 {color:#aa0001;}
a.link2 {color:#00aa01;}
a.link3 {color:#0100aa;}

#panel button {
  outline:none;
  background-color: #e0dfe3;
  border: 1px solid #cccccc;
  color:#111111;
}

/* Makes it pretty */
#options table {
  width: 100%;
  border: solid 0px #cccccc;
  border-collapse: separate;
  border-spacing: 2px ;
}

#options th {
  border: solid 0px #cccccc;
  background-color: #C8D1D1;
  font-weight: bold;
  padding: 2px;
  text-align: left;
}

#options td {
  background-color: transparent;
  padding: 2px;
  border: 1px solid #cccccc;
}

/* jQuery */
div.section { clear: left; }

div.demo, div.inner { color: #000; text-align: center; font-family: verdana, arial, sans-serif;}

div.annonce1, div.annonce2, div.annonce3, div.annonce4, div.annonce5, 
div.annonce6, div.annonce7, div.annonce10, team {
color: #111; 
text-align: center; 
font-family: verdana, arial, sans-serif;
}

div#annonce1, div#info1, div#step1, div#aide1 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce2, div#info2, div#step2, div#aide2 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce3, div#info3, div#step3, div#aide3 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce4 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce5 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce6 {
float: left;
width: 27.3%;
padding: 20px;
padding-top:10px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce7 {
float: left;
width: 93.4%;
padding: 20px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div#annonce10 {
float: left;
width: 93.4%;
padding: 20px;
margin: 5px;
background: #ffffff;
font-size: 12px;
}

div.inner { margin: 0; background: #ffc; padding: 10px; border:0; } /* zoom:1; */
div.outer { float: left; margin: 15px; background: #c82; padding: 8px; width: 22em }
div.fun   { margin: 2px; }

#abs { position: absolute; width: 200px; background: #ffa; padding: 5px; margin: 8px; top: 0; right: 0; text-align: center }
 
/* fixed height/width testing */
#box  { background-color: #6af; padding: 15px; text-align: center; margin: 25px }
#box1 {;}                                       /* fluid (zoom:1 for layout) */
#box2 { height: 150px;  }                              /* fixed height */
#box3 { width:  300px; margin:auto }                   /* fixed width */
#box4 { height: 150px; width: 300px; margin:auto }     /* fixed height and width */
 
div.plain  { background-color: #6af; text-align: center; }

#twitter { float:right; right: 20px; }
#twitter a { text-decoration: none; font-family: arial; vertical-align: top }
#twitter img { border: none; float: left }
 
div.desc { margin: 10px }
