/* WebUI Map Css Level 2.1 v0.1 (13/04/2011) */
body {margin: 0px; padding: 0px; line-height: 15px;}
div#map-container {width: 100%; height: 100%}
#legend {font-size: 10px;}
#blip_person {background: url(data/person.gif) no-repeat; width: 10px; height: 10px;}
#map-nav {float:right;}
#map-nav img {border:0px;}
#map-nav-up {position: absolute; top: 5px; left: 35px; width: 30px;  height: 30px;}
#map-nav-down {position: absolute; top: 65px; left: 35px; width: 30px; height: 30px;}
#map-nav-left {position: absolute; top: 35px; left: 5px; width: 30px; height: 30px;}
#map-nav-right {position: absolute; top: 35px; left: 65px; width: 30px; height: 30px;}
#map-nav-center {position: absolute; top: 35px; left: 35px; width: 30px; height: 30px;}
#map-zoom-plus {position: absolute; top: 5px; right: 5px; width: 30px; height: 30px;}
#map-zoom-minus {position: absolute; top: 35px; right: 5px; width: 30px; height: 30px;}
